/* Load google fonts via API */
@import url("https://fonts.googleapis.com/css?family=Assistant");
@import url("https://fonts.googleapis.com/css?family=Ruda");

/* Reset layouts */
html, body, div, header, footer,
h1, h2, h3, h4, h5, h6, a, p, span, img {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6, a, p, span, img {
  line-height: 100%;
}

/* Default layout suited for phones */
html, body {
  width: 100%;
}

/* Larger devices (landscape tablets, 960px and up) */
@media only screen and (min-width: 960px) {

  html {
    width: 960px;
    margin: 0px auto;
  }

}

/* Header and footer defaults */
header, footer {
  display: block;
  overflow: hidden;
  background-color: #000080;
}

header {
  padding-top: 20px;
  padding-bottom: 8px;
  margin-bottom: 20px;
}

footer {
  padding-top: 8px;
  padding-bottom: 20px;
  margin-top: 20px;
}

/* Header components layout */
header div, footer div {
  display: block;
  float: left;
  margin-top: 5px;
}

header div.home {
  width: 300px;
  text-align: center;
}

header div.badges {
  width: 150px;
  float: right;
}

header div.badges a {
  margin-right: 20px;
}

/* Footer components layout */
footer div.copyright {
  width: 100%;
  text-align: center;
}

footer div.copyright span{
  color: white;
  font: 400 14px/16px "Assistant", Arial, Helvetica, sans-serif;
}

/* Logo layout */
span.logo {
  display: inline-flex;
  height: 25px;
  align-items: center;
}

span.logo {
  color: white;
  text-decoration: none;
  font: 400 30px/32px "Assistant", Arial, Helvetica, sans-serif;
}

span.logo span {
  font-weight: 700;
}
