html, body, div, header, footer {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

/* Default layout suited for phones */
html { max-width: 100%; }
header, div#content, footer {
  display: block;
  width: 100%;
  float: left;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  div#articles{ max-width: inherit; float: inherit; }
  div#essays{ max-width: inherit; float: inherit; }
}

/* Small devices (portrait tablets and large phones, 600px to 960px) */
@media only screen and (min-width: 600px) and (max-width: 960px){
  div#articles{ width: auto; margin-right: 300px; float: left; }
  div#essays{ width: 300px; margin-left: -300px; float: right; }
}

/* Medium devices (landscape tablets, 960px and up) */
@media only screen and (min-width: 960px) {
  html { max-width: 960px; margin: 0px auto; }
    div#articles{ width: 660px; float: inherit; }
    div#essays{ max-width: 300px; float: inherit; }
}

/* Header layout */
header div {
  margin-top: 15px;
  margin-bottom: -50px;
  text-align: center;
}

header a {
  float: right;
  padding: 10px;
}

/* Footer layout */
footer {
  padding: 15px 0px 15px;
  text-align: center;
  display: block;
}
