html, body, div, header, footer {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

/* Default layout suited for phones */
html {
  width: 100%;
}

header, footer {
  display: block;
  width: 100%;
}

div#content {
  display: flex;
  width: 100%
}

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  div#content {
    flex-direction: column;
  }

    div#articles{
      max-width: inherit;
      float: left;
    }

    div#essays{
      max-width: inherit;
      float: left;
    }

}

/* Medium devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){

  div#content {
    flex-direction: row;
  }

    div#articles{
      flex-grow: 1;
      width: auto;
    }

    div#essays{
      flex-grow: 0;
      width: 300px;
    }

}

/* Larger devices (landscape tablets, 960px and up) */
@media only screen and (min-width: 960px) {

  html {
    width: 960px;
    margin: 0px auto;
  }

}

/* Laying out the header */
header {
  overflow: auto;
}

  header a {
    display: block;
    margin-top: 20px;
    padding: 5px 0px 5px;
    overflow: auto;

    text-decoration: none;
  }

  header a.home {
    margin-left: 50px;
    float: left;
  }

  header a.badge {
    margin-right: 20px;
    float: right;
  }

  header a.home span#logo {
    color: white;
    text-decoration: none;

    display: block;
    height: 25px;
    margin: 0px;
    padding: 0px;
  }

/* Footer layout */
footer {
  padding: 15px 0px 15px;
  text-align: center;
  display: block;
}
