<header>

  <div class="home">
    <a href="index.html">
      <span class="logo"><span>JOES</span>DESK</span>
    </a>
  </div>

  <div class="badges">
    <a href="https://github.com/joesdesk">
      <img src="icons/github.png" height="25px" width="25px"/>
    </a>
    <a href="https://www.linkedin.com/in/jomar-sastrillo/">
      <img src="icons/linkedin.png" height="25px" width="25px"/>
    </a>
    <a href="about.html">
      <img src="icons/profile.png" height="25px" width="25px"/>
    </a>
  </div>

</header>
