<!DOCTYPE html>
<html>

<head>

  <title>Joe's Desk</title>

  <meta name="author" content="Jomar Sastrillo">
  <meta name="description" content="Website for Jomar's profile."/>
  <meta name="keywords" content="Jomar Sastrillo, Portfolio, Data Science, Physics, Math">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <link rel="stylesheet" href="css/default.css" >
  <link rel="stylesheet" href="css/homepage.css">

</head>


<body>

  {% include header.html %}

  {{ content }}

  {% include footer.html %}

</body>

</html>
